/* draggableNode.css */

/* Base node styles */
.draggable-node {
  font-size: 10px;
  cursor: grab;
  min-width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  transition: transform 0.2s ease, background 0.3s ease;
}

/* Node label */
.draggable-node span {
  .gradient-text {
  background: linear-gradient(
    90deg,
    #000000 0%,
    #2E0854 20%,
    #4B0082 40%,
    #8A2BE2 65%,
    #C71585 80%,
    #FF1493 100%
  );
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

  font-weight: 500;
  text-align: center;
}

/* Hover effect */
.draggable-node:hover {
  transform: scale(1.05);
}








